<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
    <script>
        function checkPortOneLoaded() {

            if (typeof PortOne === 'undefined') {
                console.error('PortOne SDK가 로드되지 않았습니다.');
                return false;
            }
            return true;
        }

        async function requestConfirm() {
            console.log('requestConfirm 함수 호출됨'); // 함수 호출 확인

            if (!checkPortOneLoaded()) {
                return;
            }

            try {
                await PortOne.requestIdentityVerification({
                    storeId: "store-d24ae279-ddd3-4bf4-abc7-a0fb5f257f24",
                    identityVerificationId: `identity-verification-${crypto.randomUUID()}`,
                    channelKey: "channel-key-56ccd3b5-8a33-4404-ad1e-5fe0ca96cf3f",
                });
                console.log('본인인증 요청 성공');
            } catch (error) {
                console.error("본인인증 요청 실패: ", error)
                console.error("본인인증 요청 실패 메세지: ", error.message)
                console.error("본인인증 요청 실패 코드: ", error.code)
            }
        }

        async function requestPayment(){
            console.log('requestConfirm 함수 호출됨'); // 함수 호출 확인

            if (!checkPortOneLoaded()) {
                return;
            }

            const tossPayments = TossPayments("test_ck_5OWRapdA8ddyQ6eY7ylY8o1zEqZK")
            const payment = tossPayments.payment(`${crypto.randomUUID()}`)

            try {
                await payment.requestPayment({
                    method: "CARD",
                    amount: {
                        currency: "KRW",
                        value: 50000,
                      },
                    orderId: "R_Hb8bbFS6qBgScfT6FtG",
                    orderName: "토스 티셔츠 외 2건",
                    successUrl: window.location.origin + "/success.html",
                    failUrl: window.location.origin + "/fail.html",
                    customerEmail: "customer123@gmail.com",
                    customerName: "김토스",
                    customerMobilePhone: "01012341234",
                    card: {
                        useEscrow: false,
                        flowMode: "DEFAULT",
                        useCardPoint: false,
                        useAppCardOnly: false,
                      },
                });
                console.log('결제요청 성공');
            } catch (error) {
                console.error("결제요청 실패: ", error)
                console.error("결제요청 실패 메세지: ", error.message)
                console.error("결제요청 실패 코드: ", error.code)
            }
        }
    </script>
    <form action = "http://localhost:8080/v1/oauth/kakao" method = "post">
        <div>
            카카오 로그인
        </div>
        <button type = "submit">보내기</button>
    </form>
    <button onclick="requestConfirm()">본인인증</button>
    <button onclick="requestPayment()">결제하기</button>
</body>
</html>