<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
</head>
<body>
    <script>
        function checkPortOneLoaded() {

            if (typeof PortOne === 'undefined') {
                console.error('PortOne SDK가 로드되지 않았습니다.');
                return false;
            }
            return true;
        }

        async function requestConfirm() {
            console.log('requestConfirm 함수 호출됨'); // 함수 호출 확인

            if (!checkPortOneLoaded()) {
                return;
            }

            try {
                await PortOne.requestIdentityVerification({
                    storeId: "store-d24ae279-ddd3-4bf4-abc7-a0fb5f257f24",
                    identityVerificationId: `identity-verification-${crypto.randomUUID()}`,
                    channelKey: "channel-key-75fe8dff-e361-46e8-b39d-9ed8f590b08b",
                    // pgProvider: "DANAL"
                });
                console.log('본인인증 요청 성공');
            } catch (error) {
                console.error("본인인증 요청 실패: ", error)
                console.error("본인인증 요청 실패 메세지: ", error.message)
                console.error("본인인증 요청 실패 코드: ", error.code)
            }
        }
    </script>
    <form action = "http://localhost:8080/v1/oauth/kakao" method = "post">
        <div>
            카카오 로그인
        </div>
        <button type = "submit">보내기</button>
    </form>
    <button onclick="requestConfirm()">본인인증</button>
</body>
</html>