<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
    <div id="payment-method"></div>
    <!-- 이용약관 UI -->
    <div id="agreement"></div>
    <!-- 결제하기 버튼 -->
    <button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>

    <form action = "http://localhost:8080/v1/oauth/kakao" method = "post">
        <div>
            카카오 로그인
        </div>
        <button type = "submit">보내기</button>
    </form>

    <script>
        main();

        async  function main(){
            const button = document.getElementById("payment-button")
            const coupon = document.getElementById("coupon-box")
            const tossPayments  = TossPayments("test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm");
            const customerKey = "sds7629";
            const widgets = tossPayments.widgets({
                customerKey
            });

            await widgets.setAmount({
                currency: "KRW",
                value: 65709,
            });

            await widgets.renderPaymentMethods({
                selector: "#payment-method",
                variantKey: "DEFAULT",
            });

            await widgets.renderAgreement({selector: "#agreement", variantKey: "AGREEMENT"})

            button.addEventListener("click", async function() {
               let response = await fetch("http://localhost:8080/v1/payment/toss",{
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NjgyNjkwNjllMWY1YTkxOGJmYmUxOGQiLCJ1c2VyX2VtYWlsIjoiYWRtaW5AbmF2ZXIuY29tIiwibmlja25hbWUiOiJhZG1pbiIsImV4cCI6MTcyMTU3Njg2N30.tpqjWJQEVZekw3LbhtuKjOOp8ho9TaId0pCLF0t7V0E"
                    },
                    body: JSON.stringify({
                        payment_name: "토스 티셔츠 외 2건",
                        merchant_id: "20240721--25ecabab882146709b9b86fdb946167d",
                        amount: 65709
                        })
                })

                if(response.ok){
                    await widgets.requestPayment({
                    orderId: "20240721--25ecabab882146709b9b86fdb946167d",
                    orderName: "토스 티셔츠 외 2건",
                    successUrl: "http://localhost:8080/v1/payment/success",
                    failUrl: "http://localhost:8080/v1/payment/fail",
                    customerEmail: "customer123@gmail.com",
                    customerName: "김토스",
                    customerMobilePhone: "01012341234",
                })
                }
            })
        }
    </script>
</body>
</html>